#sketchBoard {
    display: flex !important;
    height: 720px !important;
    width: 720px !important;
    flex-flow: row wrap;
    background-color: lightgray;
    justify-content: center !important;
    margin: auto;
}

.row {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.cell {
    flex: 1;
    flex-grow: 1;
    flex-basis: 100%;
    border: solid 1px;
}